[Unit]
Description=BPoC Git Install
After=network.target

[Service]
Type=simple
Restart=no
ExecStart=/home/$USER/git/

[Install]
WantedBy=bpocrabbit.service
